@{
    Layout = null;
}
<html>
<head>
    <title>CountriesWebApp</title>
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="@Url.Content("~/public/main.js")"></script>
</body>
</html> 